<!DOCTYPE html>
<html lang="en">
<head>
<title>Pet Clinic</title>
<meta charset="utf-8">




        <link href="{{asset("css/bootstrap.css")}}" rel="stylesheet">
        <link rel="stylesheet" href="{{asset("front/css/modal.css")}}">
        <script src="{{asset("front/js/modal.js")}}"></script><!-- JS for Modal -->

        <link rel="stylesheet" href="{{asset("css/jquery-ui-1.8.16.custom.css")}}" media="screen"  />
        <link rel="stylesheet" href="{{asset("css/fullcalendar.css")}}" media="screen"  />
        <link rel="stylesheet" href="{{asset("css/chosen.css")}}" media="screen"  />
        <link rel="stylesheet" href="{{asset("css/datepicker.css")}}" >
        <link rel="stylesheet" href="{{asset("css/colorpicker.css")}}">
        <link rel="stylesheet" href="{{asset("css/glisse.css?1.css")}}">
        <link rel="stylesheet" href="{{asset("css/jquery.jgrowl.css")}}">
        <link rel="stylesheet" href="{{asset("js/elfinder/css/elfinder.css")}}" media="screen">


        <link rel="stylesheet" href="{{asset("css/jquery.tagsinput.css")}}" />
        <link rel="stylesheet" href="{{asset("css/demo_table.css")}}" >
        <link rel="stylesheet" href="{{asset("css/jquery.jscrollpane.css")}}" >
        <link rel="stylesheet" href="{{asset("css/validationEngine.jquery.css")}}">
        <link rel="stylesheet" href="{{asset("css/jquery.stepy.css")}}" />

        <link rel="stylesheet" href="{{asset("css/icon/font-awesome.css")}}">
        <link rel="stylesheet" href="{{asset("css/bootstrap-responsive.css")}}">

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <!--[if lte IE 8]><script type="text/javascript" src="/js/excanvas.min.js"></script><![endif]-->

        <!-- Le fav and touch icons -->
        <link rel="shortcut icon" href="{{asset("/images/icons/favicon.ico")}}">




<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=248569888637671";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    
    
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=248569888637671";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    


<link rel="stylesheet" href="{{asset("css/jquery-ui-1.8.16.custom.css")}}" media="screen"  />
        <link rel="stylesheet" href="{{asset("css/fullcalendar.css")}}" media="screen"  />
        <link rel="stylesheet" href="{{asset("css/chosen.css")}}" media="screen"  />
        <link rel="stylesheet" href="{{asset("css/datepicker.css")}}" >
        <link rel="stylesheet" href="{{asset("css/colorpicker.css")}}">
        <link rel="stylesheet" href="{{asset("css/glisse.css?1.css")}}">
        <link rel="stylesheet" href="{{asset("css/jquery.jgrowl.css")}}">
        <link rel="stylesheet" href="{{asset("js/elfinder/css/elfinder.css")}}" media="screen">


        <link rel="stylesheet" href="{{asset("css/jquery.tagsinput.css")}}" />
        <link rel="stylesheet" href="{{asset("css/demo_table.css")}}" >
        <link rel="stylesheet" href="{{asset("css/jquery.jscrollpane.css")}}" >
        <link rel="stylesheet" href="{{asset("css/validationEngine.jquery.css")}}">
        <link rel="stylesheet" href="{{asset("css/jquery.stepy.css")}}" />

        <link rel="stylesheet" href="{{asset("css/icon/font-awesome.css")}}">
        <link rel="stylesheet" href="{{asset("css/bootstrap-responsive.css")}}">

        

<link href="{{asset("css/bootstrap.css")}}" rel="stylesheet">
<script src="{{asset("front/js/jquery-1.7.1.min.js")}}"></script>
<script src="{{asset("front/js/jquery.easing.1.3.js")}}"></script>
<script src="{{asset("front/js/tms-0.4.1.js")}}"></script>
<script src="{{asset("front/js/slider.js")}}"></script>



	
 <link rel="stylesheet" href="{{asset("front/css/style.css")}}">

<script src="{{asset("front/js/superfish.js")}}"></script>


	<link rel="stylesheet" href="{{asset("front/css/css2/icon/font-awesome.css")}}">
    
<script>
$(function(){
	function equalHeight(group) {
		var tallest = 0;
		group.each(function() {
			var thisHeight = $(this).height();
			if(thisHeight > tallest) {
				tallest = thisHeight;
			}
		});
		group.height(tallest);
	}	
	equalHeight($(".box-1 .inner"));
})
</script>
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<link rel="stylesheet" href="css/ie.css"> 
<![endif]-->



</head>
<body id="page1">
    
    
<!-- Header -->




<header>
    
    
    
    <div id="header-modal" class="modal hide">
                        <div class="modal-header">
                            <button class="close" type="button" data-dismiss="modal">&times;</button>
                            Liste des Adhérents
                        </div>
                        <div class="modal-body">
                            
                            </div>
                            <div class="modal-footer">
                                <a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
                            </div>
                        </div>

                        
    
    
    
    
    
    
<!--SpeedBar Start-->
     <div class="speedbar">
     <div class="speedbar-content">
     
     <ul class="menu-drop">
     			<li><a href="#"><i class="icon-chevron-down"></i></a>
               		<ul>
                        <li><a href="dashboard.html">Animaux</a></li>
                        <li><a href="charts.html">Services</a></li>
                        <li><a href="gallery.html">Pensions</a></li>
                        <li><a href="calendar.html">Adoption</a></li>
						
                        
                    </ul>  
                </li>
     </ul>
     
     <ul class="menu-speedbar">
    	 <li><a href="dashboard.html" Class="btn"><font color="black">Connexion</font></a></li>
    	 <li><a href="charts.html" Class="btn"><font color="black">Inscription</font></a></li>
         
     </ul>

     
     </div>
     </div>
     <!--SpeedBar END-->


  <div class="inner">
    <h1 class="logo"><a href="{{path('index')}}">Sos Animaux</a></h1>
    <div class="fright">
      <div class="header-meta">
        
        <div class="col-elem"> <img src="{{asset("front/images/catwavin.png")}}" width="50px" height="50px"> </div>
      </div>
      <nav>
        <ul class="sf-menu">
          <li class="current"><a href="{{path('index')}}">Accueil</a></li>
          <li><a href="{{path('about')}}">A Propos</a></li>
          <li> <a href="{{path('services')}}">services</a>
            <ul>
              <li><a href="#">Pensions</a></li>
              <li><a href="#">Prestataires</a></li>
              
                
            </ul>
          </li>
          <li><a href="{{path('animaux')}}">Animaux</a>
		  <ul>
              <li><a href="#">Consultation</a></li>
              <li><a href="#">Adoption</a></li>
			  <li><a href="#">Recherche</a></li>
              
                
            </ul>
			</li>
          <li><a href="{{path('contact')}}">contact</a></li>
        </ul>
      </nav>
    </div>
    
    <div id="header-modal" class="modal hide">
                        <div class="modal-header">
                            <button class="close" type="button" data-dismiss="modal">&times;</button>
                            Animal
                        </div>
                        <div class="modal-body">
                           adzdazd
                            </div>
                            <div class="modal-footer">
                                <a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
                            </div>
                        </div>
    
    
    
    
    <div class="clear"></div>
  </div>
  
</header>
<!-- Content -->
<section id="content" style="background:url(../images/body-bg.gif) 50% 0;">
  <div class="container_24">
    <div class="indent-bot">
        {% for ani in Animal if ani.getEtat=="sans_foyer" %}
            
      <article class="grid_6">
        <div class="box-1">
          <div class="inner">
            <h3>{{ani.getNom}}  </h3>
            
            <p>
                
<img src="http://localhost/folder/web/images/{{ani.getId()}}.jpg"  height="150" width="150" alt="photo"/>

            
            </p>
            <br>
           
            
            <div class="btn-container">
                         <div class="button-box"> <a href="#openModal" onclick="showDiv('{{ani.getNom}}','{{ani.getEspece}}','{{ani.getAge}}','{{ani.getRace}}','{{ani.getPoids}}','{{ani.getEtat}}','{{ani.getSexe}}','{{ani.getCouleur}}','{{ani.getAutre}}');getid('{{ani.getId}}');" class="icon-eye-open">Afficher</a></div>
            
            </div>
          
        </div>
                
                </div>
              
              
      </article>
            
            <div id="openModal" class="modalDialog">
                
	<div> 
		<a href="#close" title="Close" class="close" onclick="affichlist();">Fermer</a>
		<!--Archives Start-->
        <!--Wishlist Widget Start-->
        <div class="grid span4" id="listeanimal">
          <div class="grid-title">
           <div class="pull-left"><p id="nom"></div>
           <div class="pull-right">
               <button class="btn icon-alone" href="#" class="call-modal" onclick="changediv();"><i class="icon-plus"></i> </button>
               <div class="btn icon-alone"><div class="fb-share-button" data-href="http://dryra.com" data-type="icon"></div></div>
           </div>
           <div class="clear"></div>  
           
          
           
          </div>
                
                
               
          

           <table class="table table-striped table-mod archives">
            <tbody>
              <tr>
                <td class="icon-heart-empty"></td> 
                <td>Espèce: <b style="color:red;" id="espece"></b></td>
              </tr>
              <tr>
                <td class="icon-heart-empty"></td> 
                <td>Race: <b style="color:red;" id="race"></b></td>
              </tr>
              <tr>
                <td class="icon-heart-empty"></td> 
                <td>Age: <b style="color:red;" id="age"></b></td>
              </tr>
              <tr>
                <td class="icon-heart-empty"></td> 
                <td>Poids: <b style="color:red;" id="poids"></b></td>
              </tr>
              <tr>
                <td class="icon-heart-empty"></td> 
                <td>Sexe: <b style="color:red;" id="sexe"></b></td>
              </tr>
              <tr>
                <td class="icon-heart-empty"></td> 
                <td>Etat: <b style="color:red;" id="etat"></b></td>
              </tr>
              <tr>
                <td class="icon-heart-empty"></td> 
                <td>autre: <b style="color:red;" id="autre"></b></td>
              </tr>
            </tbody>
          </table> 
          
        </div>
        
        
        
        <div class="grid span4" id="conditions" style="display:none;">
          
                
                <div class="grid span4" id="conditions1">
          <div class="grid-title" style="color:grey;">
            <div class="pull-left" style="color:blueviolet">Conditions D'adoption </div>
            <div class="pull-right"></div>
            <div class="clear"></div>
          </div>
          <div class="grid-content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            <br>
            
            <a class="btn btn-success" href="{{ path('adopter', { 'id': ani.getId()  } )  }} " onclick="felicitations();" > J'accepte les conditions</a> 
            <div class="clear"></div>
          </div>    
        </div>
            
            
            
            
            <div class="grid span4" id="felicitations" style="display:none;">
          <div class="grid-title" style="color:grey;">
            <div class="pull-left" style="color: #ff8400">Félicitations </div>
            <div class="pull-right"></div>
            <div class="clear"></div>
          </div>
          <div class="grid-content" style="color: #0088cc">
Vous pouvez Venir recupérer votre nouvel ami !! Il vous attend !
<br>
            <div class="clear"></div>
          </div>    
        </div>
              
          

          
          
        </div>
        
        
        
        <!--Wishlist Widget END-->
          </div>
                </div>
</div>
            {%endfor%}
      
      <div class="hr-border"></div>
      <div class="clear"></div>
      <div class="clear"></div>
    </div>
    <div class="indent-bot-1">
       
<div class="fb-comments" data-href="http://localhost/SosAnimauxBackOffice/web/app_dev.php/adoption" data-numposts="5" data-colorscheme="dark"></div>      

 <!--Notifications Start-->
        <div class="grid span6" id="InfoAnimal" style="display:none;">
          <div class="grid-title" id="grid-titles">
           <div class="pull-left">Plus D'informations</div>
           <div class="pull-right"></div>
           <div class="clear"></div>   
          </div>
          
          <table class="table table-striped table-mod-2 archives">
            <tbody>
              <tr>
                <td class="n-orange"><i class="icon-user"></i> Nom de cet animal <span ><p id="nom" ></p></span></td>
              </tr>
              <tr>
                <td class="n-red"><i class="icon-heart"></i> Espece de cet animal <span><p id="espece" ></p></span></td>
              </tr>
              <tr>
                <td class="n-blue"><i class="icon-heart"></i> Age de cet animal<span><p id="age" ></p></span></td>
              </tr>
              <tr>
                <td><i class="icon-heart"></i><font size="10px"> Race  de cet animal</font><span><p id="race" ></p></span></a></td>
              </tr>
              <tr>
                <td><i class="icon-heart"></i> Poids de cet animal <span><p id="poids" ></p></span></a></td>
              </tr>
              <tr>
                <td><i class="icon-heart"></i> Etat de cet animal <span><p id="etat" ></p></span></a></td>
              </tr>
              
              <tr>
                <td><i class="icon-heart"></i> Sexe de cet animal <span><p id="sexe" ></p></span></a></td>
              </tr>
              
            </tbody>
          </table>
          
          <div class="archives-button"><a href="#" class="btn">Je Veux l'adopter !</a></div>

        </div>
        <!--Notifications END--> 
        
<div class="clear"></div>

<!--info post-stream-->
        <div class="post-stream-date">2 hours ago</div>
        <div class="post-stream-link"><a onclick="$('div#post-stream-2').slideToggle('slow')">0 comments</a></div>
        <div class="post-stream-link"><a onclick="$('div#post-stream-2').slideToggle('slow')">Add comment</a></div>
        <div class="clear"></div>
        <!--info post end-->
        </div>
        </div>
        <div id="post-stream-2" class="post-stream-comments">
          <!--add comment form post-stream-->
          <!-- begin htmlcommentbox.com -->
 <div id="HCB_comment_box"><a href="http://www.htmlcommentbox.com">Widget</a> is loading comments...</div>
 <link rel="stylesheet" type="text/css" href="//www.htmlcommentbox.com/static/skins/bootstrap/twitter-bootstrap.css?v=0" />
 <script type="text/javascript" id="hcb"> /*<!--*/ if(!window.hcb_user){hcb_user={};} (function(){var s=document.createElement("script"), l=(hcb_user.PAGE || ""+window.location), h="//www.htmlcommentbox.com";s.setAttribute("type","text/javascript");s.setAttribute("src", h+"/jread?page="+encodeURIComponent(l).replace("+","%2B")+"&opts=16862&num=10");if (typeof s!="undefined") document.getElementsByTagName("head")[0].appendChild(s);})(); /*-->*/ </script>
<!-- end htmlcommentbox.com -->
    
  </div>
</section>
<!-- Footer -->
<footer>
  <div class="copyright"> &copy; 2012 <strong class="footer-logo">Pet clinic</strong>
    <div>Website Template by <a target="_blank" href="http://www.templatemonster.com/">TemplateMonster.com</a></div>
  </div>
  <ul class="social-list">
    <li><a href="#"><img src="{{asset("front/images/social-link-1.jpg")}}" alt=""></a></li>
    <li><a href="#"><img src="{{asset("front/images/social-link-2.jpg")}}" alt=""></a></li>
    <li><a href="#"><img src="{{asset("front/images/social-link-3.jpg")}}" alt=""></a></li>
    <li><a href="#"><img src="{{asset("front/images/social-link-4.jpg")}}" alt=""></a></li>
  </ul>
</footer>







                                   
                                    

                                  
                                    <script src="{{asset("js/bootstrap.min.js")}}"></script>
                                    <script src="{{asset("js/bootstrap-datepicker.js")}}"></script>
                                    <script src="{{asset("js/bootstrap-colorpicker.js")}}"></script>
                                    <script src="{{asset("js/google-code-prettify/prettify.js")}}"></script>

                                    <script src="{{asset("js/jquery.flot.min.js")}}"></script>
                                    <script src="{{asset("js/jquery.flot.pie.js")}}"></script>
                                    <script src="{{asset("js/jquery.flot.orderBars.js")}}"></script>
                                    <script src="{{asset("js/jquery.flot.resize.js")}}"></script>
                                    <script src="{{asset("js/graphtable.js")}}"></script>
                                    <script src="{{asset("js/fullcalendar.min.js")}}"></script>
                                    <script src="{{asset("js/chosen.jquery.min.js")}}"></script>
                                    <script src="{{asset("js/autoresize.jquery.min.js")}}"></script>
                                    <script src="{{asset("js/jquery.tagsinput.min.js")}}"></script>
                                    <script src="{{asset("js/jquery.autotab.js")}}"></script>
                                    <script src="{{asset("js/elfinder/js/elfinder.min.js")}}" charset="utf-8"></script>
                                    <script src="{{asset("js/tiny_mce/tiny_mce.js")}}"></script>
                                    <script src="{{asset("js/validation/languages/jquery.validationEngine-en.js")}}" charset="utf-8"></script>
                                    <script src="{{asset("js/validation/jquery.validationEngine.js")}}" charset="utf-8"></script>
                                    <script src="{{asset("js/jquery.jgrowl_minimized.js")}}"></script>
                                    <script src="{{asset("js/jquery.dataTables.min.js")}}"></script>
                                    <script src="{{asset("js/jquery.mousewheel.js")}}"></script>
                                    <script src="{{asset("js/jquery.jscrollpane.min.js")}}"></script>
                                    <script src="{{asset("js/jquery.stepy.min.js")}}"></script>
                                    <script src="{{asset("js/jquery.validate.min.js")}}"></script>
                                    <script src="{{asset("js/raphael.2.1.0.min.js")}}"></script>
                                    <script src="{{asset("js/justgage.1.0.1.min.js")}}"></script>
                                    <script src="{{asset("js/glisse.js")}}"></script>

                                    <script src="{{asset("js/application.js")}}"></script>
                                    
                        <script> 
                        function showDiv(nom,espece,age,race,poids,etat,sexe,couleur,autre) {
 //  document.getElementById('InfoAnimal').style.display = "block";
   document.getElementById('nom').innerHTML=nom;
   document.getElementById('espece').innerHTML=espece;
   document.getElementById('age').innerHTML=age;
   document.getElementById('race').innerHTML=race;
   document.getElementById('poids').innerHTML=poids;
   document.getElementById('etat').innerHTML=etat;
   document.getElementById('sexe').innerHTML=sexe;
   document.getElementById('couleur').innerHTML=couleur;
   document.getElementById('autre').innerHTML=autre;
   
   
   window.location=document.getElementById('#openModal').href;
}

function getid(id)
{
    
  document.getElementById('idan').innerHTML=id;  
    
    
}
                        
                        </script> 
                        
                        
                        
                        <script> 
                        function changediv() {
                            document.getElementById('listeanimal').style.display = "none";
   document.getElementById('conditions').style.display = "block";
   
   window.location=document.getElementById('#openModal').href;
}



function affichlist() {
                            
   document.getElementById('listeanimal').style.display = "block";
   document.getElementById('conditions').style.display = "none";
      document.getElementById('felicitations').style.display = "none";

   
}


function felicitations() {
                            
   document.getElementById('conditions1').style.display = "none";
   document.getElementById('felicitations').style.display = "block";
   
   
}
                        
                        </script>  
                       
           
                        
                        
                        
                        
                        
                        
                        <style>
	.modalDialog {
		position: fixed;
		font-family: Arial, Helvetica, sans-serif;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0,0,0,0.8);
		z-index: 99999;
		opacity:0;
		-webkit-transition: opacity 400ms ease-in;
		-moz-transition: opacity 400ms ease-in;
		transition: opacity 400ms ease-in;
		pointer-events: none;
	}

	.modalDialog:target {
		opacity:1;
		pointer-events: auto;
	}

	.modalDialog > div {
		width: 400px;
		position: relative;
		margin: 10% auto;
		padding: 5px 20px 13px 20px;
		border-radius: 10px;
		background: #fff;
		background: -moz-linear-gradient(#fff, #999);
		background: -webkit-linear-gradient(#fff, #999);
		background: -o-linear-gradient(#fff, #999);
	}

	.close {
		background: #606061;
		color: #FFFFFF;
		line-height: 25px;
		position: absolute;
		right: -12px;
		text-align: center;
		top: -10px;
		width: 24px;
		text-decoration: none;
		font-weight: bold;
		-webkit-border-radius: 12px;
		-moz-border-radius: 12px;
		border-radius: 12px;
		-moz-box-shadow: 1px 1px 3px #000;
		-webkit-box-shadow: 1px 1px 3px #000;
		box-shadow: 1px 1px 3px #000;
	}

	.close:hover { background: #00d9ff; }
	</style>
                        
         
        
        <script>
    
    
    function teste_ajax(){
 
//On déclare une variable
var mavariable = objet_XMLHttpRequest();
 
//récupération des données
var pseudo = encodeURIComponent(document.getElementById("pseudo").value);
var message = encodeURIComponent(document.getElementById("message").value);
 
//Si le pseudo est vide
if(pseudo == ''){
//On lance une alert
alert('Pseudo vide!');
//On stop tout
return false;
}
//idem pour le message
if(message == ''){
alert('Message vide!');
return false;
}
 
//On assigne une fonction à la propriété onreadystatechange
mavariable.onreadystatechange = function(){
//Si l'attribut readyState renvoie 4 et que l'attribut status renvoie 200
if(mavariable.readyState == 4 && mavariable.status == 200){
//On affiche le résultat chargé dans l'attribut responseText qui est affiché dans un div nommé "mondiv"
document.getElementById("mondiv").innerHTML="lolla";
//On vide le champ message
document.getElementById("message").value='';
}
};
 
 //On déclare la méthode d'envoie 
//mavariable.open("POST","{{path('traitement')}}",true); 
//On assigne un header 
//mavariable.setRequestHeader("Content-type","application/x-www-form-urlencoded"); 
//On envoie 
//mavariable.send("pseudo="+pseudo+"&message="+message);
}
    
    
    
    </script>
        
       
     
</body>
</html>

